/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$add-name: 'add';
$add-x: 0px;
$add-y: 30px;
$add-offset-x: 0px;
$add-offset-y: -30px;
$add-width: 16px;
$add-height: 16px;
$add-total-width: 98px;
$add-total-height: 74px;
$add-image: '/assets/img/sprite.png';
$add: (0px, 30px, 0px, -30px, 16px, 16px, 98px, 74px, '/assets/img/sprite.png', 'add', );
$basket-2-name: 'basket-2';
$basket-2-x: 16px;
$basket-2-y: 46px;
$basket-2-offset-x: -16px;
$basket-2-offset-y: -46px;
$basket-2-width: 16px;
$basket-2-height: 16px;
$basket-2-total-width: 98px;
$basket-2-total-height: 74px;
$basket-2-image: '/assets/img/sprite.png';
$basket-2: (16px, 46px, -16px, -46px, 16px, 16px, 98px, 74px, '/assets/img/sprite.png', 'basket-2', );
$basket-name: 'basket';
$basket-x: 64px;
$basket-y: 30px;
$basket-offset-x: -64px;
$basket-offset-y: -30px;
$basket-width: 16px;
$basket-height: 16px;
$basket-total-width: 98px;
$basket-total-height: 74px;
$basket-image: '/assets/img/sprite.png';
$basket: (64px, 30px, -64px, -30px, 16px, 16px, 98px, 74px, '/assets/img/sprite.png', 'basket', );
$button-name: 'button';
$button-x: 0px;
$button-y: 0px;
$button-offset-x: 0px;
$button-offset-y: 0px;
$button-width: 88px;
$button-height: 30px;
$button-total-width: 98px;
$button-total-height: 74px;
$button-image: '/assets/img/sprite.png';
$button: (0px, 0px, 0px, 0px, 88px, 30px, 98px, 74px, '/assets/img/sprite.png', 'button', );
$buy-name: 'buy';
$buy-x: 32px;
$buy-y: 30px;
$buy-offset-x: -32px;
$buy-offset-y: -30px;
$buy-width: 16px;
$buy-height: 16px;
$buy-total-width: 98px;
$buy-total-height: 74px;
$buy-image: '/assets/img/sprite.png';
$buy: (32px, 30px, -32px, -30px, 16px, 16px, 98px, 74px, '/assets/img/sprite.png', 'buy', );
$car-name: 'car';
$car-x: 64px;
$car-y: 46px;
$car-offset-x: -64px;
$car-offset-y: -46px;
$car-width: 16px;
$car-height: 14px;
$car-total-width: 98px;
$car-total-height: 74px;
$car-image: '/assets/img/sprite.png';
$car: (64px, 46px, -64px, -46px, 16px, 14px, 98px, 74px, '/assets/img/sprite.png', 'car', );
$like-name: 'like';
$like-x: 48px;
$like-y: 46px;
$like-offset-x: -48px;
$like-offset-y: -46px;
$like-width: 16px;
$like-height: 15px;
$like-total-width: 98px;
$like-total-height: 74px;
$like-image: '/assets/img/sprite.png';
$like: (48px, 46px, -48px, -46px, 16px, 15px, 98px, 74px, '/assets/img/sprite.png', 'like', );
$location-name: 'location';
$location-x: 88px;
$location-y: 0px;
$location-offset-x: -88px;
$location-offset-y: 0px;
$location-width: 10px;
$location-height: 15px;
$location-total-width: 98px;
$location-total-height: 74px;
$location-image: '/assets/img/sprite.png';
$location: (88px, 0px, -88px, 0px, 10px, 15px, 98px, 74px, '/assets/img/sprite.png', 'location', );
$mail-2-name: 'mail-2';
$mail-2-x: 0px;
$mail-2-y: 62px;
$mail-2-offset-x: 0px;
$mail-2-offset-y: -62px;
$mail-2-width: 16px;
$mail-2-height: 12px;
$mail-2-total-width: 98px;
$mail-2-total-height: 74px;
$mail-2-image: '/assets/img/sprite.png';
$mail-2: (0px, 62px, 0px, -62px, 16px, 12px, 98px, 74px, '/assets/img/sprite.png', 'mail-2', );
$mail-3-name: 'mail-3';
$mail-3-x: 16px;
$mail-3-y: 62px;
$mail-3-offset-x: -16px;
$mail-3-offset-y: -62px;
$mail-3-width: 16px;
$mail-3-height: 12px;
$mail-3-total-width: 98px;
$mail-3-total-height: 74px;
$mail-3-image: '/assets/img/sprite.png';
$mail-3: (16px, 62px, -16px, -62px, 16px, 12px, 98px, 74px, '/assets/img/sprite.png', 'mail-3', );
$mail-name: 'mail';
$mail-x: 32px;
$mail-y: 62px;
$mail-offset-x: -32px;
$mail-offset-y: -62px;
$mail-width: 16px;
$mail-height: 12px;
$mail-total-width: 98px;
$mail-total-height: 74px;
$mail-image: '/assets/img/sprite.png';
$mail: (32px, 62px, -32px, -62px, 16px, 12px, 98px, 74px, '/assets/img/sprite.png', 'mail', );
$phone-2-name: 'phone-2';
$phone-2-x: 32px;
$phone-2-y: 46px;
$phone-2-offset-x: -32px;
$phone-2-offset-y: -46px;
$phone-2-width: 16px;
$phone-2-height: 16px;
$phone-2-total-width: 98px;
$phone-2-total-height: 74px;
$phone-2-image: '/assets/img/sprite.png';
$phone-2: (32px, 46px, -32px, -46px, 16px, 16px, 98px, 74px, '/assets/img/sprite.png', 'phone-2', );
$phone-name: 'phone';
$phone-x: 48px;
$phone-y: 30px;
$phone-offset-x: -48px;
$phone-offset-y: -30px;
$phone-width: 16px;
$phone-height: 16px;
$phone-total-width: 98px;
$phone-total-height: 74px;
$phone-image: '/assets/img/sprite.png';
$phone: (48px, 30px, -48px, -30px, 16px, 16px, 98px, 74px, '/assets/img/sprite.png', 'phone', );
$queen-name: 'queen';
$queen-x: 60px;
$queen-y: 62px;
$queen-offset-x: -60px;
$queen-offset-y: -62px;
$queen-width: 13px;
$queen-height: 11px;
$queen-total-width: 98px;
$queen-total-height: 74px;
$queen-image: '/assets/img/sprite.png';
$queen: (60px, 62px, -60px, -62px, 13px, 11px, 98px, 74px, '/assets/img/sprite.png', 'queen', );
$search-name: 'search';
$search-x: 16px;
$search-y: 30px;
$search-offset-x: -16px;
$search-offset-y: -30px;
$search-width: 16px;
$search-height: 16px;
$search-total-width: 98px;
$search-total-height: 74px;
$search-image: '/assets/img/sprite.png';
$search: (16px, 30px, -16px, -30px, 16px, 16px, 98px, 74px, '/assets/img/sprite.png', 'search', );
$skype-name: 'skype';
$skype-x: 0px;
$skype-y: 46px;
$skype-offset-x: 0px;
$skype-offset-y: -46px;
$skype-width: 16px;
$skype-height: 16px;
$skype-total-width: 98px;
$skype-total-height: 74px;
$skype-image: '/assets/img/sprite.png';
$skype: (0px, 46px, 0px, -46px, 16px, 16px, 98px, 74px, '/assets/img/sprite.png', 'skype', );
$star-name: 'star';
$star-x: 48px;
$star-y: 62px;
$star-offset-x: -48px;
$star-offset-y: -62px;
$star-width: 12px;
$star-height: 12px;
$star-total-width: 98px;
$star-total-height: 74px;
$star-image: '/assets/img/sprite.png';
$star: (48px, 62px, -48px, -62px, 12px, 12px, 98px, 74px, '/assets/img/sprite.png', 'star', );
$spritesheet-width: 98px;
$spritesheet-height: 74px;
$spritesheet-image: '/assets/img/sprite.png';
$spritesheet-sprites: ($add, $basket-2, $basket, $button, $buy, $car, $like, $location, $mail-2, $mail-3, $mail, $phone-2, $phone, $queen, $search, $skype, $star, );
$spritesheet: (98px, 74px, '/assets/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
