footer.footer
    .footer_copyright &copy;2015 Магазин "СВЕТОВИД"
    ul.footer_list
        li.footer_item Сайт создан на платформе
            a(href="#").footer_link  Zakupka.com
        li.footer_item
            a(href="#").footer_link Пожаловаться на содержимое
        li.footer_item
             a(href="#").footer_link Мобильная версия
