.main-content
    .main-content_logo
        a(href="#").main-content_logo-link
            img(src="/assets/img/other-logo.jpg" alt="logo").main-content_logo-img
        .main-content_logo-name Магазин «СВЕТОВИД»



