.footer {
  width: 95%;
  background: #FFFFFF;
  margin: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 7px 0 #959595;
  padding: 23px;
  position: relative;
  box-sizing: border-box;

  @media screen and (max-width: 425px){
    padding-top: 60px;
  }

  &:after {
    position: absolute;
    content: '';
    display: block;

    @include sprite($button);
    top: 35px;
    right: 25px;

    @media screen and (max-width: 425px){
      left: 25px;
      top: 15px;
    }
  }

  &_copyright {
    font-size: 16px;
    margin-bottom: 15px;
  }

  &_list {
    margin: 0 ;
    padding: 0;
  }

  &_item {
    display: inline-block;
    border-left: 1px solid #201c14;
    margin-left: 10px;
    padding-left: 10px;
    list-style-type: none;

    @media screen and (max-width: 768px){
      display: block;
      margin-left: 0;
      border-left: none;
      padding-left: 0;
      margin-bottom: 10px;
    }

    &:first-child {
      border: none;
      margin: 0;
      padding-left: 0;
      @media screen and (max-width: 768px){
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  &_link {
    color: #e2001a;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}