extends ../_template

block variables
  - var title = 'Home page'

block content
  include ../common/_header
  include ../common/_main-content
  .container.clearfix
    include ../common/aside
  include ../common/_footer
