extends ../_template

block variables
  - var title = 'Home page'

block content
  include ../common/_header
  include ../common/_main-content
  .wrapper.clearfix
    include ../common/_aside
    include ../common/_container
  include ../common/_footer
